$primary: #D42C3A;
$primaryDark: #BA1A2A;

$bg: #33363B;
$bgLight: #3E4248;
$bgDark: #292929;
$grayBg: #464646;

$text: #FFF;
$grayText: #888;

$border: rgba(#FFF, 0.4);
$borderRed: #C22F36;

$gap: 15px;
$tabBarHeight: 54px;

